<h1>Player 1: <%= @player_one_name %></h1>
<h2>Hitpoints: <%= @player_one_hitpoints %></h2>

<form action="/p1_attacks" method="post">
  <input type="submit" value="Attack P2">
</form>

<h1>Player 2: <%= @player_two_name %></h1>
<h2>Hitpoints: <%= @player_two_hitpoints %></h2>

<form action="/p2_attacks" method="post">
  <input id="player_one" type="submit" value="Attack P1">
</form>

<h1><%= @message %></h1>
